@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #e6e9f0;
  box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.h1 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 2rem;
}

.userArea {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.userArea span {
  margin-left: 10px;
}

@media screen and (max-width: 850px) {
  .nav {
    width: 70%;
  }
}

@media screen and (max-width: 690px) {
  .nav {
    width: 90%;
  }
  .userArea span:nth-child(2) {
    display: none;
  }
}
